.product-similar .product-card {
  width: auto;
}

.product-similar .product-card:last-child{
  margin-right: 16px;
}

:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible {
  background-color: #f4f4fc;
}

.active-result:focus-visible {
  background-color: #f4f4fc;
}
